# Requirements for deploying and managing from host machine

# AWS commands
boto3==1.4.6

# CloudFormation generation
awacs==0.7.0
troposphere==1.9.4

# Management tasks
invoke==0.18.0

# For syntax checking / static analysis.
flake8==3.4.1
flake8-import-order==0.12
